@font-face {
  font-family: "hyperspaceregular";
  src: url("https://s3-us-west-2.amazonaws.com/polaris-asteroids-main/hyperspace-font/hyperspace-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/polaris-asteroids-main/hyperspace-font/hyperspace-webfont.eot?#iefix") format("embedded-opentype"),
       url("https://s3-us-west-2.amazonaws.com/polaris-asteroids-main/hyperspace-font/hyperspace-webfont.woff") format("woff"),
       url("https://s3-us-west-2.amazonaws.com/polaris-asteroids-main/hyperspace-font/hyperspace-webfont.ttf")  format("truetype"),
       url("https://s3-us-west-2.amazonaws.com/polaris-asteroids-main/hyperspace-font/hyperspace-webfont.svg#hyperspaceregular") format("svg");
  }

#asteroids-game {
  outline: 0;
  font-family: "hyperspaceregular",  Monaco, monospace;
  color: white;
  background: black;
  border: 1px solid;
  position: relative;
  overflow: hidden;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
     -o-user-select: none;
        user-select: none; 
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

#asteroids-game .back-link {
  position: absolute;
  width: 49%;
  height: 5%;
  cursor: pointer;
  left: 2%;
  bottom: 2%;
}

/* Loading */

#asteroids-game .loading-background {
  width: 500px;
  height: 500px;
  background: black;
}

#asteroids-game .loading-text-div {
  width: 40.5%;
  height: 10%;
  font-size: 36pt;
  position: absolute;
  left: 30%;
  top: 40%;
}

/* Main Menu */

#asteroids-game .main-menu-div {
  width: 500px;
  height: 500px;
  background: black;
  position: relative;
}

#asteroids-game .main-menu-div img {
  position: absolute;
}

#asteroids-game .main-menu-link {
  width: 16%;
  height: 5.5%;
  cursor: pointer;
  position: absolute;
  background-color: black;
  opacity: 0;
}

#asteroids-game .new-game-link {
  bottom: 39.6%;
  left: 42%;
}

#asteroids-game .help-link {
  bottom: 32%;
  left: 42%;
}

#asteroids-game .about-link {
  bottom: 24%;
  left: 40%;
  width: 20%;
}

#asteroids-game .high-scores-link {
  bottom: 16%;
  left: 28%;
  width: 44%;
}

/* About View */

#asteroids-game .about-div {
  width: 500px;
  height: 500px;
  background: black;
}

#asteroids-game .about-div img {
  position: absolute;
}

#asteroids-game .about-div .outbound-link {
  height: 4%;
  position: absolute;
  cursor: pointer;
  background-color: black;
  opacity: 0;
}

#asteroids-game .heated-link {
  height: 4%;
  left: 31%;
  top: 28.3%;
  width: 38%;
}

#asteroids-game .polaris-link {
  height: 4%;
  left: 29%;
  top: 33%;
  width: 42%;
}

/* Help View */

#asteroids-game .help-div {
  width: 500px;
  height: 500px;
  background: black;
}

#asteroids-game .help-div img {
  position: absolute;
}

/* High Scores View */

#asteroids-game .high-score {
  font-size: 20pt;
  height: 7%;
  position: absolute;
}

#asteroids-game .high-score-rank {
  width: 10%;
  left: 6%;
}

#asteroids-game .high-score-name {
  width: 30%;
  left: 17%;
}

#asteroids-game .high-score-value {
  width: 30%;
  left: 55.5%;
}

#asteroids-game .high-score-level {
  width: 10%;
  left: 78.5%;
}

/* High Scores Entry */

#asteroids-game .high-scores-name-entry {
  text-align: center;
  position: absolute;
  width:100%;
  height:20%;
  top: 50%;
  font-size: 30pt;
}

/* Game View */

#asteroids-game .game-holder {
  position: absolute;
  top: 2%;
  color: white;
  height: 10%;
  width: 10%;
}

#asteroids-game .asteroids-score-holder {
  left: 2%;
}

#asteroids-game .asteroids-lives-holder {
  left: 45%;
}

#asteroids-game .asteroids-level-holder {
  left: 87%;
}

#asteroids-game .game-text{
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 40%;
  font-size: 26pt;
  text-align: center
}